  
  html, body {
    overflow: hidden;
    margin: 0;
  }


/* gutter from react-split-it */

.gutter {
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(0,0,0,1.0); /* change to terminal background color */
}

.gutter-vertical {
  cursor: row-resize;
}
.gutter:hover {
  background: black; /* change to terminal background color */
}
.gutter-dragging:hover {
  background: black; /* change to terminal background color */
}

/* Icon colors */
.MuiSvgIcon-root {
  color: white;
}

/* Dialog scrollbar settings */
.MuiDialogContent-root::-webkit-scrollbar {
  width: 5px;
}

/* Draggable scrolling element */
.MuiDialogContent-root::-webkit-scrollbar-thumb {
  background: rgba(80,80,80,0.7);
  outline: 1px solid grey;
}

.MuiDialogContent-root::-webkit-scrollbar-thumb:hover {
  background: rgba(80,80,80,0.9);
}