  
  html, body {
    overflow: hidden;
    margin: 0;
  }


/* gutter from react-split-it */

.gutter {
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(0,0,0,1.0); /* change to terminal background color */
}

.gutter-vertical {
  cursor: row-resize;
}
.gutter:hover {
  background: black; /* change to terminal background color */
}
.gutter-dragging:hover {
  background: black; /* change to terminal background color */
}

/* Icon colors */
.MuiSvgIcon-root {
  color: white;
}